.contenedor {
  padding: 2em 1em;
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: 6em 5px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 1em 5em;
  margin-right: auto;
  margin-left: auto;
}

.line {
  line-height: 0;
}

.font {
  font-size: 1em;
  color: #cbcbcb;
}

.pr {
  padding-right: 20em;
}

.height {
  height: 7em;
}

.mat-icon {
  font-size: 30px;
}

.green {
  color: #00ba4c;
}

.wchico {
  width: 5em;
}

.wnombre {
  width: 40em;
}

.wgeneral {
  width: 25em;
}

.wregimen {
  width: 32.4em;
}

.wrfc {
  width: 15em;
}

.unidadTexto {
  line-height: 10px;
  font-size: 2em;
  font-weight: 500;
}

.unidad {
  padding: 2em 2em 0 2em;
  border: 1px #ededed solid;
  border-radius: 10%;
  text-align: center;
  margin-right: 25em;
}

.unidad:hover {
  background-color: #f4f4f4;
  color: navy;
}

.header button {
  margin-right: 0.5em;
  padding: 7px;
}

.datosPago {
  padding-bottom: 1em;
  margin: 1em 0;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.datosPago h2 {
  padding: 5px 0 0 1.5em;
  font-size: 15px;
  font-weight: 400;
}

.datosSolicitud,
.datosResgistrados {
  margin: 1em 0;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.datosSolicitud:hover,
.datosResgistrados:hover {
  background-color: #f9f9f9;
}

.datosSolicitud h1,
.datosResgistrados h1 {
  font-size: 15px;
  font-weight: 400;
}

.toggleSolicitud {
  text-align: right;
  padding-left: 36em;
  padding-bottom: 1.2em;
}

.toggleRegistrados {
  text-align: right;
  padding-left: 36.4em;
  padding-bottom: 1.2em;
}

.botonMostrar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  border: none;
  background: none;
}