.contenedor {
  padding: 2em 1em;
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: 6em 5px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 1em 5em;
  margin-right: auto;
  margin-left: auto;
}

.line {
  line-height: 0;
}

.font {
  font-size: 1em;
  color: #cbcbcb;
}

.pr {
  padding-right: 20em;
}

.datosPago {
  padding: 0.5em 2em;
  margin: 1em 0;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

mat-expansion-panel-header {
  background-color: #f7f7f7;
}

.height {
  height: 7em;
}

mat-expansion-panel {
  background-color: #f7f7f7;
}

.mat-icon {
  font-size: 30px;
}

.green {
  color: #00ba4c;
}

.wchico {
  width: 5em;
}

.wnombre {
  width: 40em;
}

.wgeneral {
  width: 25em;
}

.wregimen {
  width: 32.4em;
}

.wrfc {
  width: 15em;
}

input:disabled {
  color: #aaa;
}

.unidadTexto {
  line-height: 10px;
  font-size: 2em;
  font-weight: 500;
}

.unidad {
  padding: 2em 2em 0 2em;
  border: 1px #ededed solid;
  border-radius: 10%;
  text-align: center;
  margin-right: 25em;
}

.unidad:hover {
  background-color: #f4f4f4;
  color: navy;
}

.header button {
  margin-right: 0.5em;
  padding: 7px;
}

.datosPago h2 {
  font-weight: 300;
  font-size: 17px;
}