<div class="row">
    <div class="col-3 text-center" [ngClass]="menuSeleccionado == 'Clientes' || menuSeleccionado == '/clientes/cliente' ? 'text-white' : 'text-primary'" routerLink="cliente"
        [ngStyle]="{'background-color': menuSeleccionado == 'Clientes' || menuSeleccionado == '/clientes/cliente' ? 'navy': 'white' }" >
        <i class="material-icons mr-1">
            person
        </i>
        Clientes Edición
    </div>    
    <div class="col-3 text-center" [ngClass]="menuSeleccionado == 'ClientesCards' || menuSeleccionado == '/clientes/cards' ? 'text-white' : 'text-primary'" routerLink="cards"
        [ngStyle]="{'background-color': menuSeleccionado == 'ClientesCards' || menuSeleccionado == '/clientes/cards' ? 'navy': 'white' }" >
        <i class="material-icons mr-1">
            group
        </i>
        Clientes Cards
    </div>    
    <div class="col-3 text-center" [ngClass]="menuSeleccionado == 'ListadoClientes' || menuSeleccionado == '/clientes/list'  ? 'text-white' : 'text-primary'" routerLink="list"
         [ngStyle]="{'background-color': menuSeleccionado == 'ListadoClientes' || menuSeleccionado == '/clientes/list'  ? 'navy': 'white' }" >
        <i class="material-icons mr-1">
            table_view
        </i>
        Listado de empleados
    </div>        
    <div class="col-3 text-center" [ngClass]="menuSeleccionado == 'Detalle' || menuSeleccionado == '/clientes/detalle'  ? 'text-white' : 'text-primary'" routerLink="detalle"
         [ngStyle]="{'background-color': menuSeleccionado == 'Detalle' || menuSeleccionado == '/clientes/detalle'  ? 'navy': 'white' }" >
        <i class="material-icons mr-1">
            visibility
        </i>
        Detalle
    </div>        
</div>